.fullrow {
	float:left;
	width:100%;
}
.fullrow>label {
	width:100%;
	float:left;
	padding:10px 2px 3px 20px;
}
.fullrow>div {
	width:100%;
	float:left;
	padding:3px 2px 3px 10px;
}
.fullrow>div>select {
	width:200px;
	float:left;
	padding:3px 2px 3px 10px;
}
.hidden {
	display:none;
}
#chat {
	border:1px solid black;
	margin:10px;
	float:left;
	width:80%;
	height:400px;
	overflow-y:auto;
}
@keyframes myfirst
{
0%   {background: red; left:0px; top:0px;opacity:1;}
10%  {background: yellow; left:200px;opacity:1;}
20%  {background: blue; left:0px;opacity:1;}
35%  {background: green; left:200px; opacity:1;}
60%  {background: green; left:0px; opacity:1;}
8%  {background: green; left:200px; opacity:1;}
100% {background: red; left:0px;opacity:0;}
}
#talk{
	position:absolute; 
	width:100%;
	height:50px;
	opacity:0;
	background:red;
	text-align:center;
	z-index:999;
	/*
	 
*/
}
.talk {
	animation:myfirst 2s;
	-webkit-animation:myfirst 2s;
}
#otherPlayers li {
	width: 90%;
    background-color: #a3bcef;
    margin: 1px;
}
#otherPlayers li>div {
	background-color: #bca3ef;
    margin: 1px;
}