#macro(getLevel $level)
	#if($level==11)
		初心级
	#elseif($level==12)
		入门级
	#elseif($level==13)
		初级
	#elseif($level==14)
		中级
	#elseif($level==15)
		高级
	#elseif($level==16)
		超高级
	#elseif($level==17)
		轻度骨灰级
	#elseif($level==18)
		中度骨灰级
	#else
		重度骨灰级
	#end	
#end

#foreach ($game in $gameList)
	<div class="fullrow">
	#if($!{game.status}=='S')
		#set($start="进行中")
	#else
		#set($start="")
	#end
		<span>[$!{game.id}][#getLevel($!{game.level})]by $!{game.creator} @$!{game.datetime}&#160;$!{start}</span>
		<a href="#" onclick="joinGame('$!{game.id}','$!{game.status}');">Join</a>
		
	</div>
#end