<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.turtle.sudoku.repository.SudokuRepository" >
  <resultMap id="BaseResultMap" type="com.turtle.sudoku.entity.Sudoku" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="problem" property="problem" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
  </resultMap>

 <sql id="Base_Column_List" >
   `id`,
   `problem`,
   `level`
 </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sudoku
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sudoku
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.turtle.sudoku.entity.Sudoku" >
    insert into sudoku ( 
     `id`,
     `problem`,
     `level`
    )
    values (
     #{id,jdbcType=INTEGER},
     #{problem,jdbcType=VARCHAR},
     #{level,jdbcType=VARCHAR}
 )
  </insert>
  
  
  
  <insert id="insertSelective" parameterType="com.turtle.sudoku.entity.Sudoku" >
    insert into sudoku
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        `id`,
      </if>
      <if test="problem != null" >
        `problem`,
      </if>
      <if test="level != null" >
        `level`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="problem != null" >
        #{problem,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.turtle.sudoku.entity.Sudoku" >
    update sudoku
	  <set>
       <if test="problem != null" >
        `problem`= #{problem,jdbcType=VARCHAR},
       </if>
       <if test="level != null" >
        `level`= #{level,jdbcType=VARCHAR},
       </if>
          </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.turtle.sudoku.entity.Sudoku" >
    update sudoku
    set 
       `problem` = #{problem,jdbcType=VARCHAR},
       `level` = #{level,jdbcType=VARCHAR}
     where id = #{id,jdbcType=INTEGER}
  </update>
  

  
  <select id="selectCount" resultType="java.lang.Integer" parameterType="com.turtle.sudoku.entity.Sudoku" >
    select count(*) from sudoku
    <where >
            <if test="id != null" >
        and `id` = #{id,jdbcType=INTEGER}
      </if>
            <if test="problem != null" >
        and `problem` = #{problem,jdbcType=VARCHAR}
      </if>
            <if test="level != null" >
        and `level` = #{level,jdbcType=VARCHAR}
      </if>
          </where>
  </select>

    <select id="selectPage" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from sudoku where 1 = 1 
        <if test="sudoku.id != null" >
      and `id` = #{sudoku.id,jdbcType=INTEGER}
    </if>
        <if test="sudoku.problem != null" >
      and `problem` = #{sudoku.problem,jdbcType=VARCHAR}
    </if>
        <if test="sudoku.level != null" >
      and `level` = #{sudoku.level,jdbcType=VARCHAR}
    </if>
        <if test="pageable.sort != null" >
      order by 
      <foreach collection="pageable.sort" item="order" separator="," >
        <if test="
   order.property == 'id' 
   || order.property == 'problem'
   || order.property == 'level'
        " >
        		${order.property} ${order.direction}
        </if>
      </foreach>
    </if>
    <if test="pageable.offset >= 0 and pageable.pageSize > 0" >
      limit ${pageable.offset}, ${pageable.pageSize}
    </if>
  </select>
 </mapper>
  

  
	